### Card Verification

Contacting your bank

...

[Complete Payment](/checkout/complete/)

<script type="text/javascript" src="/js/checkout-step-3.js"></script>
